<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
      <form class="viewform" action="http://localhost:5000/authenticate" method = "POST">
        <label class="input-wrapper">
          <input type="text" name="Username" value="">
        </label>
        <label class="input-wrapper">
          <input type="text" name="Password" value="">
        </label>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
